.todo{
    width: 100%;
    padding: 5px;
    height: 42px;
    background-color: var(--primary);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}
.completed-todo{
    width: 100%;
    padding: 5px;
    height: 42px;
    background-color: #c9d6df00;
    border: 1px solid var(--primary);
    color: var(--primary);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.todo-buttons-container{
    display: flex;
    width: 220px;
    justify-content: space-between;
}

.todo-text-completed{
    text-decoration:line-through;
}